@import "./../../styles/variables.less";

.container{
    width: 100px;
    height: 100px;
}

.line{
    stroke: @B700;
}

.fill{
    fill: lighten(@primary-color,10%);
    stroke: lighten(@primary-color,10%);
}